/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@charset "utf-8";

:root {
  --underline-intrinsic-width: 16;
  --underline-width: 12;
  --underline-color: #fae933;
  --underline-cap-width: 4px;
  --underline-offset-y: -8px;
  --underline-padding-x: 0.1em;
  --cap-image-left: url(https://files-d4s40otz1.now.sh/left.svg);
  --cap-image-right: url(https://files-4vvqilj8v.now.sh/right.svg);
  --color-bg: #fefefe;
  --color-txt: #4a4b4c;
  --color-theme: #3273dc;
  --color-bold: #222;
  --color-txt2: #3a3b3f;
  --color-txt3: #3d3d3d;
  --codebg: #daeaf0;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #3273dc;
  --selection-bg: #3273dc;
  --logoColor: #222;
  --text: #333;
  --iconColor: #333;
  --underline-color-txt: #3a3b3f;
}

[data-theme='light'] {
  --color-bg: #fefefe;
  --color-txt: #4a4b4c;
  --color-theme: #3273dc;
  --color-bold: #222;
  --color-txt2: #3a3b3f;
  --color-txt3: #3d3d3d;
  --codebg: #daeaf0;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #3273dc;
  --selection-bg: #3273dc;
  --logoColor: #222;
  --text: #333;
  --underline-color: #fae933;
  --underline-color-txt: #3a3b3f;
  --iconColor: #333;
}

[data-theme='dark'] {
  --color-bg: #1a1b1c;
  --color-txt: #fffeef;
  --color-theme: #3273dc;
  --color-bold: #ffffff;
  --color-txt2: #e1e1e1;
  --color-txt3: #e1dbc7;
  --codebg: #303030;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #3273dc;
  --selection-bg: #3273dc;
  --logoColor: #ffffff;
  --underline-color: #636c5e;
  --underline-color-txt: #fae933;
  --text: #ffffff;
  --iconColor: #f5f5f5;
}

/**
 * Maven Pro :: primary fonts for this website
 * Fira Mono :: code fonts for this website
 */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

body {
  font-family: 'Maven Pro', sans-serif;
  margin: auto;
  padding: 0;
  max-width: 1140px;
  text-align: left;
  background-color: var(--color-bg);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--color-txt);
}
main {
  min-height: calc(100vh - 280px);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--bold-text);
}
a {
  color: #3273dc;
}
p {
  font-weight: 500;
  font-size: 18px;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
code {
  padding: 2px 5px;
  background-color: var(--codebg);
  color: var(--color-txt2);
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
  font-family: 'Fira Mono', monospace;
}
blockquote {
  border: 1px solid var(--color-txt3);
  color: var(--color-txt3);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

/*===> Theme CSS <===*/
/* TOGGLE  */
.theme-switch-wrapper {
  display: flex;
  max-width: 80px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.title {
  color: var(--bold-text);
  font-family: 'Sono', sans-serif;
}

.slider {
  background-color: var(--slider-bg);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: var(--slider-bg-before);
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--slider-input-bg);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider svg {
  color: #222;
  position: absolute;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  pointer-events: none;
}

.feather-moon {
  opacity: 0;
  left: 9px;
  bottom: 9px;
  transform: translateX(4px);
}

.feather-sun {
  opacity: 1;
  right: 10px;
  bottom: 9px;
  transform: translateX(0px);
}

input:checked + .slider .feather-moon {
  opacity: 1;
  transform: translateX(0);
}

input:checked + .slider .feather-sun {
  opacity: 0;
  transform: translateX(-4px);
}

.icon-color {
  /* background: var(--logoColor); */
  color: var(--logoColor);
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobileModeToggle {
  outline: none;
  border: 0;
  background-color: transparent;
  color: var(--color-theme);
  padding: 0;
  transition: all 0.25s;
}

#mobileModeToggle #modeToggleSwitch {
  font-size: 3.5rem !important;
  transition: all 0.25s;
}

/**-------------------------------------------------------------------
 * CUSTOM CSS
 * -------------------------------------------------------------------
 */

.icon-color {
  /* background: var(--logoColor); */
  color: var(--iconColor) !important;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  visibility: hidden;
}

#backToTop,
.back-top-top {
  display: flex;
  position: fixed !important;
  right: 2rem;
  bottom: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1.75rem;
  border-radius: 50%;
  color: white;
  background-color: var(--selection-bg);
  border: none;
  cursor: pointer;
}

.container,
.wrapper {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
}

.text-sm {
  font-size: 0.75rem;
}

main .wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.header__container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.header__container h2 {
  font-size: 1.8rem;
}

.author {
  font-family: 'Fira Mono', monospace;
  color: var(--color-txt3);
  font-weight: 600;
}

article img {
  width: 100%;
  max-width: 1140px;
  height: auto;
  max-height: 680px;
  object-fit: cover;
}

article a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.3rem;
}

article a img {
  width: 24px;
  height: 24px;
}

.page__content {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.page__content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.page__content ul li {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background: var(--color-bg);
  color: var(--color-txt3);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.page__content ul li img {
  min-height: 220px;
  max-height: 220px;
  image-rendering: optimizeSpeed;
  image-orientation: from-image;
  width: auto;
  width: auto;
  object-fit: cover;
}

.card__content,
.tags__container {
  padding: 1rem;
}

.page__content ul li a {
  font-size: 1.25rem;
  text-decoration: none;
}

.page__content ul li a:hover,
.page__content ul li a:active {
  color: green;
  text-decoration: underline;
}

#articles.page__content img {
  width: auto;
  min-height: 220px;
  object-fit: cover;
}

.page__heroimg {
  max-height: 400px;
  object-fit: cover;
  object-position: top;
  image-rendering: optimizeSpeed;
}

.tags__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-bottom: 0.7rem;
}

.tags__container b {
  font-family: 'Fira Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
}

.tags__container ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.tags__container ul li {
  text-transform: capitalize;
  font-size: 0.75rem;
  font-family: 'Fira Mono', monospace;
  color: var(--color-txt);
  background: var(--codebg);
  font-weight: 300;
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.tags__in__card {
  display: flex;
  width: 100%;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem !important;
}

.tags__in__card b {
  color: var(--color-txt2);
}

.page__content .tags__in__card ul {
  gap: 0.5rem;
}

.tags__in__card ul li {
  background: var(--codebg);
  color: var(--code);
}

.mahabub__highlight {
  display: block;
  margin-top: 2rem;
  background-color: var(--color-theme);
  color: var(--color-highlight);
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  font-weight: 600;
  box-shadow: 0 0.2rem 0.7rem 0 rgba(0, 0, 0, 0.7);
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
}

header nav a img svg path {
  fill: green !important;
}

.contact__info {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.45rem;
  -webkit-border-radius: 0.45rem;
  -moz-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  -o-border-radius: 0.45rem;
}

.contact__info a {
  color: var(--color-txt2);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  background: var(--color-bg);
  text-decoration: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.4rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s;
  padding: 0.7rem 1.4rem;
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn-menu {
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 2.5rem;
  color: var(--color-txt2);
}

.btn-menu:hover {
  color: var(--color-theme);
}

#mobileMenuBody,
.mobileMenuBody {
  position: fixed;
  top: calc(100% - 4.5rem);
  left: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#mobileMenuBody .wrapper,
.mobileMenuBody .wrapper {
  display: flex;
  width: auto;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: var(--color-bg);
  gap: 0 0.5rem;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.social__links .sc_link {
  color: white;
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.text-center {
  text-align: center;
}

.highlight__underline {
  display: inline;
  text-decoration: underline;
  --underline-width-scale: calc(
    var(--underline-width) / var(--underline-intrinsic-width)
  );
  padding: 0
    calc(
      var(--underline-padding-x) +
        calc(var(--underline-cap-width) * var(--underline-width-scale))
    );
  box-decoration-break: clone;
  background-repeat: no-repeat;
  color: var(--underline-color-txt);
  background-image: linear-gradient(
      180deg,
      var(--underline-color),
      var(--underline-color)
    ),
    var(--cap-image-left), var(--cap-image-right);
  background-position-x: calc(
      var(--underline-cap-width) * var(--underline-width-scale)
    ),
    0, 100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size: calc(
        100% -
          calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)
      )
      calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro .intro__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro .intro__left img {
  object-fit: cover;
  max-width: 50%;
  border: solid 0.15rem var(--color-theme);
  border-radius: 50%;
  box-shadow: 0 0 1rem 0.25rem rgba(50, 115, 220, 0.5);
}

.intro .intro__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
}
.intro .intro__right h2 {
  font-size: 36px;
  color: var(--underline-color-txt);
  font-family: 'Fira Mono', monospace;
}

.intro .intro__right ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.intro .intro__right ul li {
  font-family: 'Fira Mono', monospace;
  color: var(--color-txt3);
}

.intro .intro__right ul li b {
  text-decoration: underline;
  color: var(--bold-text);
  font-weight: 600;
}

.edu {
  overflow-x: scroll;
}

.edu__table {
  background: #4273c3;
  color: white;
  border: 1px solid transparent;
  min-width: 600px;
}

.edu__table tr:nth-child(2n) {
  background-color: #4884aa;
}

/**-------------------------------------------------------------------
 * RESPONSIVE CSS
 * -------------------------------------------------------------------
 */

@media screen and (max-width: 1199.99px) {
  body {
    max-width: 98%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 899.99px) {
  body {
    max-width: 100%;
  }

  .intro {
    flex-direction: column;
    justify-content: center;
  }

  .container,
  .wrapper {
    width: 90%;
    max-width: 860px;
    margin: 0 auto;
  }

  .page__content {
    width: 90%;
    max-widt: 860px;
    margin: 0 auto;
  }

  .page__content ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .container,
  .wrapper,
  main .wrapper {
    width: 96.9%;
    max-width: 680px;
  }

  .page__content {
    width: 96.9%;
    max-widt: 680px;
    margin: 0 auto;
  }

  #backToTop,
  .back-top-top {
    bottom: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .page__content ul {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 1rem;
    margin: 0 auto;
  }

  .contact__info {
    flex-direction: column;
    gap: 0.25rem 0;
  }

  .highlight__underline {
    background-image: inherit;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .container {
    width: 98%;
    max-width: 440px;
  }

  main {
    width: 100%;
    margin: 0 auto;
  }

  article,
  .wrapper,
  main .wrapper {
    padding: 0 0.75rem;
    width: calc(100% - 1.5rem);
  }

  .page__content {
    width: 98.9%;
    max-widt: 400px;
    margin: 0 auto;
  }

  #mobileMenuBody .wrapper,
  .mobileMenuBody .wrapper {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
