/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


/**
 * Maven Pro :: primary fonts for this website
 * Fira Mono :: code fonts for this website
 */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');


body {
	font-family: 'Maven Pro', sans-serif;
	margin: auto;
	padding: 0;
	max-width: 1140px;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #4A4B4C;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
a {
	color: #3273dc;
}
p {
	font-weight: 500;
	font-size: 18px;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
	font-family: 'Fira Mono', monospace;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}



/**-------------------------------------------------------------------
 * CUSTOM CSS
 * -------------------------------------------------------------------
 */


.container {
	width: 82.848%;
	max-width: 1140px;
	margin: 0 auto;
}


article img {
	width: 100%;
	max-width: 1140px;
	height: auto;
	max-height: 460px;
	object-fit: cover;
}

article a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0 .3rem;
}

article a img {
	width: 24px;
	height: 24px;
}

.mahabub__highlight {
	display: block;
	margin-top: 2rem;
	background-color: #3273dc;
	color: yellow;
	padding: .7rem 1.5rem;
	font-size: 1.1rem;
	font-weight: 600;
	box-shadow: 0 .2rem 0.7rem 0 rgba(0,0,0,0.7);
	border-radius: .35rem;
	-webkit-border-radius: .35rem;
	-moz-border-radius: .35rem;
	-ms-border-radius: .35rem;
	-o-border-radius: .35rem;
}


header nav a img svg path {
	fill: green !important;
}

.contact__info {
	display: flex;
	align-items: center;
	gap: 1rem;
	background-color: white;
	padding: 1rem 1.5rem;
	box-shadow: 0 0 5rem 0 rgba(0,0,0, 0.1);
	border-radius: .45rem;
	-webkit-border-radius: .45rem;
	-moz-border-radius: .45rem;
	-ms-border-radius: .45rem;
	-o-border-radius: .45rem;
}

.contact__info a {
	color: #3a3b3f;
	font-weight: 500;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	background: #ededed;
	text-decoration: none;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
}





/**-------------------------------------------------------------------
 * RESPONSIVE CSS
 * -------------------------------------------------------------------
 */

@media screen and (max-width: 720px) {
	.container {
		width: 96.9%;
		max-width: 680px;
	}
}


@media screen and (max-width: 460px) {
	.container {
		width: 98%;
		max-width: 420px;
	}
}