---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, I'm Mahabub!</h1>
			<p>
				Welcome to my website. This actually my personal & portfolio website. Built with AstroJS for HTML first static webpages. SEO friendly too. :)
			</p>
			<i>Recently, focusing to be a Java+Spring+React/Angular Developer</i>
			<p>
				I'm a
				<br />
				`(Full-time/Regular) Student`
				<br /> 
				`(Junior) Full-stack Developer (MERN)`
				<br />
				`(Junior) Programmer [JS/TS/Python]`
				
			</p>
			<p class="mahabub__highlight">
				This website is under-development :) <br />
				It will completed very soon!
				<br /> <br />
				- 0xMahabub.
			</p>
			
		</main>
		<Footer />
	</body>
</html>
