---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, PHOTO } from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body data-theme="light">
    <Header title={SITE_TITLE} />
    <main>
      <div class="wrapper">
        <h1 class="text-center">🧑‍🚀 Hello, I'm Mahabub! (মাহাবুব)</h1>
        <p class="text-center text-sm">
          <i
            >Recently, focusing to be a BE/FE/SDE/SWE. <br />
            <small>[BE ~ Backend Engineer] & [FE ~ Full-stack Engineer]</small>
            <small
              >& [SDE ~ Software Development Engineer] & [SWE ~ Software
              Engineer]</small
            >
          </i>
        </p>
        <br />
        <div class="intro">
          <div class="intro__left">
            <img src={PHOTO} alt="0xMahabub" />
          </div>

          <div class="intro__right">
            <h2 class="highlight__underline">What I do & My skills</h2>
            <ul>
              <li>
                <b>Programming Languages:</b> C/C++/Java, JavaScript/TypeScript,
                Python.
              </li>
              <li>
                <b>Frontend:</b> HTML/CSS, JS/TS, React, Astro, Angular (^).
              </li>
              <li>
                <b>Backend:</b> Nodejs/ExpressJs/NestJs (^), Java/Spring (^).
              </li>
              <li>
                <b>Database:</b> NoSQL/MongoDB, SQLs/MySQL/PostgreSQL (^).
              </li>
              <li>
                <b>Tools & More:</b> Linux/Ubuntu, Git/Github, Docker, CI/CD (^).<br
                />
              </li>
              <li>
                <br />
                <small>Note: (^) means learning or practicing :)</small><br />
                <small
                  >Info: I have no job experience yet. But would love to have.</small
                ><br />
              </li>
            </ul>
          </div>
        </div>

        <!-- 
        <p class="mahabub__highlight">
          This website is under-development :) <br />
          It will completed very soon!
          <br />
          <br />
          - 0xMahabub.
        </p> -->
      </div>
    </main>
    <Footer />
  </body>
</html>
