---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="wrapper">
        <h1 class="text-center">🧑‍🚀 Hello, I'm Mahabub! (মাহাবুব)</h1>
        <p class="text-center">
          <i>Recently, focusing to be a SDE or SWE. <br /> <small>[SDE ~ Software Development Engineer] & [SWE ~ Software Engineer]</small></i>
        </p>
        <br />
        <div class="intro">
          <div class="intro__left">
            <img src="https://avatars.githubusercontent.com/u/86561283" alt="0xMahabub" />
          </div>

          
          <div class="intro__right">
            <h2 class="highlight__underline">What I do & My skills</h2>
            <ul>
              <li><b>Programming Languages:</b> C/C++, Python, Java (soon), JavaScripts.</li>
              <li><b>Frontend:</b> HTML/CSS, JS/TS, React, Angular (soon).</li>
              <li><b>Backend:</b> Nodejs/ExpressJs/NestJs, Spring Framework (soon).</li>
              <li><b>Database:</b> NoSQL/MongoDB, SQLs/MySQL/PostgreSQL (soon).</li>
              <li><b>Tool & More:</b> Linux (Ubuntu), Git/Github, Docker, CI/CD.<br />
                
              </li>
              <li><small>Note: I'm (@Freshman) still learning and practicing.</small></li>
            </ul>
          </div>
        </div>
        
        <!-- 
        <p class="mahabub__highlight">
          This website is under-development :) <br />
          It will completed very soon!
          <br />
          <br />
          - 0xMahabub.
        </p> -->
      </div>
    </main>
    <Footer />
  </body>
</html>
