---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '../config';
import Toggle from './ThemeSwitch.astro';
---

<header>
  <div class="header__container">
    <h2>0xMahabub<span>;</span></h2>

    <nav id="primaryNav">
      <Toggle />
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/articles">Articles</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
      <HeaderLink href="https://github.com/0xMahabub" target="_blank">
        <i class="bx bxl-github icon-color"></i>
      </HeaderLink>
      <!-- <HeaderLink href="https://hackerrank.com/mahabub072" target="_blank">
			<img height="24" width="24" src="https://unpkg.com/simple-icons@v7/icons/hackerrank.svg" />
		</HeaderLink> -->
      <HeaderLink href="https://linkedin.com/in/0xmahabub/" target="_blank">
        <i class="bx bxl-linkedin-square icon-color"></i>
      </HeaderLink>
      <HeaderLink href="https://facebook.com/mahabub6333" target="_blank">
        <i class="bx bxl-facebook-circle icon-color"></i>
      </HeaderLink>
      <HeaderLink href="https://twitter.com/mahabub__7" target="_blank">
        <i class="bx bxl-twitter icon-color"></i>
      </HeaderLink>
    </nav>
  </div>

  <!-- Mobile Menu @Responsive -->
  <nav id="mobileNav">
    <button class="btn btn-menu" id="menuBtnOpen" style="display:none">
      <i class="bx bx-menu"></i>
    </button>

    <div id="mobileMenuBody">
      <div class="wrapper">
        <button id="mobileModeToggle" type="button">
          <i id="modeToggleSwitch" class="bx bx-toggle-left icon-color"></i>
        </button>
        <HeaderLink class="mobile-link" href="/">
          <i class="bx bx-home-alt-2 icon-color"></i>
          <span>home</span>
        </HeaderLink>
        <HeaderLink class="mobile-link" href="/articles">
          <i class="bx bx-book-reader icon-color"></i>
          <span>articles</span>
        </HeaderLink>
        <HeaderLink class="mobile-link" href="/projects">
          <i class="bx bx-briefcase-alt icon-color"></i>
          <span>projects</span>
        </HeaderLink>
        <HeaderLink class="mobile-link" href="/about">
          <i class="bx bx-error-alt icon-color"></i>
          <span>about</span>
        </HeaderLink>
        <HeaderLink class="mobile-link" href="/contact">
          <i class="bx bx-id-card icon-color"></i>
          <span>contact</span>
        </HeaderLink>
      </div>
    </div>
  </nav>

  <button id="backToTop" class="back-to-top hidden">
    <i class="bx bx-up-arrow-alt"></i>
  </button>
</header>
<style>
  header {
    margin: 0 0 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.3rem;
    height: 3.5rem;
    flex-direction: row;
  }

  header h2 {
    vertical-align: middle;
    height: 100%;
    font-family: 'Fira Mono', monospace;
    color: var(--bold-txt);
    margin-bottom: 0;
  }

  header h2 span {
    color: #12a530;
  }

  #primaryNav {
    display: flex;
    gap: 0.7rem;
    justify-content: end;
    align-items: center;
    height: 100%;
  }

  #mobileNav {
    display: none;
    visibility: hidden;
    transition: all 0.25s;
  }

  .mobile-link {
    display: inline-flex;
    flex-direction: column;
    gap: 0 0;
    text-decoration: none !important;
  }

  .mobile-link i {
    font-size: 2rem;
  }

  .mobile-link span {
    font-family: 'Fira Mono', monospace;
    font-weight: 300;
    font-size: 0.7rem;
    text-transform: capitalize;
  }

  @media screen and (max-width: 1190px) {
    #primaryNav {
    }
  }

  @media screen and (max-width: 899.9px) {
    #primaryNav {
      display: none;
      visibility: hidden;
    }

    #mobileNav {
      display: flex;
      visibility: visible;
    }

    header h2 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 720px) {
    #mobileNav {
    }
  }

  @media screen and (max-width: 600px) {
    #mobileNav {
    }
  }
</style>
