// Fira Code <Google Fonts>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


  body {
      margin: 0;
      font-family: 'Fira Code', monospace; 
    } 

  a {
    &:hover {
      outline: none;
    }
  }

  img {
    &:hover {
      outline: none;
    }
  }

  // CONTAINER
  .container {
    display: flex !important;
    width: 100% !important;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;

    &__row {
      flex-direction: row;
    }
  }

  /**
   * RESPONSIVE
   */
@media screen and (max-width: 640px) {
  .container {
    width: 90% !important;
    max-width: 600px !important;

    // blog
    &__blog{
      width: 100%; 
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 90% !important;
    max-width: 720px !important;

    // blog
    &__blog{
      width: 100%; 
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 85% !important;
    max-width: 800px !important;

    // blog
    &__blog{
      width: 90%;
      max-width: 860px; 
    }
  }
}

@media screen and (max-width: 1376px) {
  .container {
    width: 85% !important;
    max-width: 1170px !important;

    // blog
    &__blog{
      width: 70%;
      max-width: 930px; 
    }
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 80% !important;
    max-width: 1280px !important;

    // blog
    &__blog{
      width: 65%;
      max-width: 1000px; 
    }
  }
}

@media screen and (max-width: 1920px) {
  .container {
    width: 80% !important;
    max-width: 1367px !important;

    // blog
    &__blog{
      width: 60%;
      max-width: 1170px; 
    }
  }
}